*, *::before, *::after {
    box-sizing: border-box;
}
html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    background-color: #f1f1f1;  
}

a {
    text-decoration: none;
    outline: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;    
}

.container {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
}

.site-header .logo {
    position: absolute;   
    top:0;
    left: 50%;
    margin-left: -70px;
}

.site-navigation {
    width: 1054px;
    margin: 0 auto;   
}
  
.navigation-items {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    list-style: none;
}

.navigation-items li {   
    width: 25%;
    text-align: left;
}

.navigation-items li:nth-child(3) {  
    margin-left: auto;
    text-align: right;
}
.navigation-items li:nth-child(4) {
    text-align: right;
}

.navigation-items a {
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.navigation-items a:hover,
.navigation-items a:focus {
    color: #81b3d2;   
}

.navigation-items a:active {
    opacity: 0.3;
}

.main-content {
    text-align: center;
}

.main-content h1 {
    line-height: 26px;
    font-size: 21px;  
}

.advantages h2 {
    line-height: 26px;
    font-size: 14px;
    font-weight: 400;   
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0; 
    list-style: none;
}

.advantages-item h3,
.advantages-item h4 {
    line-height: 21px;
    font-size: 21px;
    font-weight: 700;  
}

.advantages-item h4 {
    color: #000000;
}

.advantages-item p,
.advantages-item span {
    line-height: 21px;
    font-size: 14px;
    font-weight: 400;   
}

.advantages-item.short {
    background-color: #eeeeee;
    color: #333333;
    width: 400px;
    padding-top: 55px;
    padding-right: 70px;
    padding-bottom: 70px;
    padding-left: 70px;    
}

.advantages-item.detailed {
    display: flex;
    flex-wrap: wrap;
    background-color: #81b3d2;
    color: #ffffff;
}

.advantages-definition {
    width: 400px;
    padding-top: 45px;
    padding-right: 45px;
    padding-bottom: 45px;
    padding-left: 45px;
}

.advantages-item:nth-child(2) .advantages-definition {
    order: 1;
}

.advantages-description {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.advantage-description-item {   
    width: 400px;   
    color: #333333;
    padding-top: 55px;
    padding-right: 55px;
    padding-bottom: 55px;
    padding-left: 55px;
}

.hotel-search-title {
    line-height: 36px;
    font-size: 30px;
    font-weight: 700;  
}

.hotel-search-description {
    line-height: 24px;   
    font-weight: 400;   
}

.hotel-search-button {
    line-height: 26px;
    font-size: 21px;
    font-weight: 700;
    color: #ffffff;
    background-color: #766357;
}

.hotel-search-button:hover,
.hotel-search-button:focus {
    background-color: #604e43;
}

.hotel-search-button:active {
    background-color:#503e33;
}

.site-footer {
    display: flex;
    justify-content: space-between; 
    background-color: #fefefe;
    opacity: 0.9;
}

.social-button-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 33.3%;
    text-align: center;
}

.hashtag {
    line-height: 26px;
    font-size: 21px;
    font-weight: 700;
    color: #000000;
    width: 33.3%;
    text-align: center;
}   

.copyright {
    width: 33.3%;
    text-align: center;
}

.copyright b {
    font-weight: 400;   
    line-height: 26px;
}

.hotels-container {
    margin: auto;
    width: 1056px;
}

.hotel-search-form {
    display:none;
}

.hotels-filter-form {
    display: flex;
    padding-left: 73px;
    padding-right: 73px;
    background-color: #477ca6;
    background-image: url("../img/filter-background.jpg");  
    background-size: cover;
    color: #ffffff;
}

.hotels-filter-form legend {
    line-height: 21px;
    font-size: 16px;
    font-weight: 700;
}

.infrastructure-filter {
    width: 264px;
}

.housing-type-filter {
    width: 264px;
}

.right-side-container {
    margin-left: auto; 
    width: 328px;
}

.filter-options-list {
    list-style: none;
}

.filter-option label {
    line-height: 21px;
    font-size: 14px;
    font-weight: 400;   
}

.price-range-slider button {
    background-color: #ffffff;
}

.hotels-filter-button {
    line-height: 21px;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: rgba(255,255,255,0)
}

.hotels-filter-button:hover,
.hotels-filter-button:focus {
    background-color: #ffffff;
    color: #000000;
}

.hotels-sorting {
    background-color: #fefefe;
    display: flex;
}

.filter-result {
    line-height: 26px;
    font-size: 21px;
    font-weight: 700;
}

.hotels-value-sorting {
    line-height: 18px;
    font-size: 12px;    
}

.value-sorting-list {
    display: flex;
    justify-content: space-around;
    width: 306px;
    list-style: none;
}

.value-sorting-item a {
    opacity: 0.3;
    text-decoration: underline;
}

.value-sorting-item a:hover,
.value-sorting-item a:focus {
    color: #81b3d2;
    opacity: 1;
}

.value-sorting-item a:active {
    color: #000000;
    opacity: 1;
    text-decoration: none;
}

.order-sorting-list {
    margin-left: auto;
    list-style: none;
}

.hotels-list {
    background-color: #fefefe;
    list-style: none;
    padding-left: 0;
}

.hotels-image {
    margin-right: 32px;
}

.hotels-item {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

.hotels-rating {
    margin-left: auto;
}

.hotel-title h2 {
    line-height: 26px;
    font-size: 21px;
    font-weight: 700; 
    color: #000000;
}

.hotel-title h2:hover,
.hotel-title h2:focus {
    color: #81b3d2;
}

.hotel-title h2:active {
    color: #000000;
    opacity: 0.3;
}

.hotels-type,
.hotels-price {  
    color: #333333;
}

.rating-mark {
    color: #666666;
    background-color: #f2f2f2;
}

.hotel-button {
    font-weight: 700;
}

.hotel-button-details {
    color: #ffffff;
    background-color: #81b3d2;
}
.hotel-button-details:hover,
.hotel-button-details:focus {
    background-color: #669ec0;    
}

.hotel-button-details:active {
    background-color:#5496bd;
    opacity: 0.3;
}

.hotel-button-book {
    color: #ffffff;
    background-color: #766357;
}

.hotel-button-book:hover,
.hotel-button-book:focus {  
    background-color: #604e43;
}

.hotel-button-book:active {  
    background-color: #503e33;
    opacity: 0.3;
}
