body {
    margin: 0;
    padding: 0;    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    background-color: #f1f1f1;  
}

a {
    text-decoration: none;
    outline: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;    
  }

.navigation-items {
    list-style: none;
}

.navigation-items a {
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.navigation-items a:hover,
.navigation-items a:focus {
    color: #81b3d2;   
}

.navigation-items a:active {
    opacity: 0.3;
}

.main-content {
    text-align: center;
}

.main-content h1 {
    line-height: 26px;
    font-size: 21px;  
}

.advantages h2 {
    line-height: 26px;
    font-size: 14px;
    font-weight: 400;   
}

.advantages-list {
    list-style: none;
}

.advantages-item h3,
.advantages-item h4 {
    line-height: 21px;
    font-size: 21px;
    font-weight: 700;  
}

.advantages-item h4 {
    color: #000000;
}

.advantages-item p,
.advantages-item span {
    line-height: 21px;
    font-size: 14px;
    font-weight: 400;   
}

.advantages-item.short {
    background-color: #eeeeee;
    color: #333333;
    width: 400px;
 }

.advantages-item.detailed {
    background-color: #81b3d2;
    color: #ffffff;
}

.advantages-description {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.advantage-description-item {   
    width: 400px;
    color: #333333;
}

/* норм форматировать так или нужно добавлять еще один wrapper и задавать ему отсутпы внутренние? */
.advantage-description-item p {   
    padding-right: 72px; 
    padding-left: 72px;
}

.hotel-search-title {
    line-height: 36px;
    font-size: 30px;
    font-weight: 700;  
}

.hotel-search-description {
    line-height: 24px;   
    font-weight: 400;   
}

.hotel-search-button {
    line-height: 26px;
    font-size: 21px;
    font-weight: 700;
    color: #ffffff;
    background-color: #766357;
}

.hotel-search-button:hover,
.hotel-search-button:focus {
    background-color: #604e43;
}

.hotel-search-button:active {
    background-color:#503e33;
}

.site-footer {
    background-color: #fefefe;
    opacity: 0.9;
}

/* Нужно ли список социальных кнопок превращать во flex или есть более правильный подход? */
.social-button-list {
    list-style: none;
    width: 150px;  
}

.hashtag {
    line-height: 26px;
    font-size: 21px;
    font-weight: 700;
    color: #000000;
}   

.copyright b {
    font-weight: 400;   
    line-height: 26px;
}

.hotel-search-form {
    display:none;
}

.hotels-filter-form {
    background-color: #477ca6;
    background-image: url("../img/filter-background.jpg");  
    background-size: cover;
    color: #ffffff;
}

.hotels-filter-form legend {
    line-height: 21px;
    font-size: 16px;
    font-weight: 700;
}

.filter-options-list {
    list-style: none;
}

.filter-option label {
    line-height: 21px;
    font-size: 14px;
    font-weight: 400;   
}

.price-range-slider button {
    background-color: #ffffff;
}

.hotels-filter-button {
    line-height: 21px;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: rgba(255,255,255,0)
}

.hotels-filter-button:hover,
.hotels-filter-button:focus {
    background-color: #ffffff;
    color: #000000;
}

.hotels-sorting {
    background-color: #fefefe;
}

.filter-result {
    line-height: 26px;
    font-size: 21px;
    font-weight: 700;
}

.hotels-value-sorting {
    line-height: 18px;
    font-size: 12px;    
}

.value-sorting-list {
    list-style: none;
}

.value-sorting-item a{
    opacity: 0.3;
    text-decoration: underline;
}

.value-sorting-item a:hover,
.value-sorting-item a:focus {
    color: #81b3d2;
    opacity: 1;
}

.value-sorting-item a:active {
    color: #000000;
    opacity: 1;
    text-decoration: none;
}

.order-sorting-list {
    list-style: none;
}

.hotels-list {
    background-color: #fefefe;
    list-style: none;
}

.hotels-item h2 {
    line-height: 26px;
    font-size: 21px;
    font-weight: 700;
    color: #000000;
}

.hotels-type,
.hotels-price {  
    color: #333333;
}

.rating-mark {
    color: #666666;
    background-color: #f2f2f2;
}

.hotel-button {
    font-weight: 700;
}

.hotel-button-details {
    color: #ffffff;
    background-color: #81b3d2;
}
.hotel-button-details:hover,
.hotel-button-details:focus {
    background-color: #669ec0;    
}

.hotel-button-details:active {
    background-color:#5496bd;
    opacity: 0.3;
}

.hotel-button-book {
    color: #ffffff;
    background-color: #766357;
}

.hotel-button-book:hover,
.hotel-button-book:focus {  
    background-color: #604e43;
}

.hotel-button-book:active {  
    background-color: #503e33;
    opacity: 0.3;
}






/* СЕТКА ГЛАВНОЙ*/

/* Почему мы не можем все что в body обернуть в <div class="container"> и не играться с этой оберткой в каждом блоке? */
.container {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
}

.site-header .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Не пришло ничего в голову кроме этого. И, хоть вроде как и встало на место в центр, но не пиксел перфект и не могу понять почему, т.к. размеры взял те что в фотошопе */
.site-header .logo {
    position: absolute;   
}

.site-navigation {
    width: 1054px;
    margin: 0 auto;   
}

.navigation-items {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
}

.navigation-items li {
    width: 128px;
}

.navigation-items li:nth-child(1) {  
    margin-right: 112px;
    text-align: left;
}

.navigation-items li:nth-child(2) {   
    text-align: left;
}

.navigation-items li:nth-child(3) {  
    margin-left: auto;
    text-align: right;
}

.navigation-items li:nth-child(4) {   
    margin-left: 113px;
    text-align: right;
}

.advantages-item.detailed {
    display: flex;
    flex-wrap: wrap;
}

.advantages-definition {
    width: 400px;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0; 
}

.advantages-description {
    display: flex;
}

.site-footer .site-footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    padding-right: 73px;
    padding-bottom: 35px;
    padding-left: 73px;
}


/* СЕТКА ОТЕЛЕЙ*/

/* Надо ли прописывать сразу padding:0 и margin:0 или достаточно одного этого свойства? */
.hotels-list {
    padding-left: 0;
}

.hotels-container {
    display: flex;
    margin: auto;
    width: 1056px;
    padding-top: 33px;
    padding-bottom: 33px;
}

.hotels-list.hotels-container {
    flex-direction: column;
}

.infrastructure-filter {
    width: 264px;
}

.housing-type-filter {
    width: 264px;
}

.order-sorting-list {
    margin-left: auto;
}

.right-side-container {
    margin-left: auto; 
    width: 328px;
}

.hotels-item {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

.hotels-image {
    margin-right: 32px;
}

.hotels-rating {
    margin-left: auto;
}

.value-sorting-list {
    display: flex;
    justify-content: space-around;
    width: 306px;
}
